In [1]:
#Q1What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
#A database is an organized collection of structured information, or data, 
#typically stored electronically in a computer system.
#SQL Database
#SQL databases define and manipulate data-based structured query language (SQL). 
#Seeing from a side this language is extremely powerful. SQL is one of the most versatile and 
#widely-used options available which makes it a safe choice, especially for great complex queries.
#But from another side, it can be restrictive.
#No SQL Database
#A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, 
#column-oriented, graph-based, or organized as a key-value store. This flexibility means that documents can be 
#created without having a defined structure first

In [3]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
#DDL stands for Data Definition Language. It is a subset of SQL and a part of DBMS (Database Management System). 
#DDL consists of commands like CREATE, ALTER, TRUNCATE, and DROP. 
#These commands are used to create or modify the tables in SQL

In [6]:
#CREATE: This is used to create a new table in SQL.
#ALTER: This is used to add, delete or change columns in the existing table.
#DROP: This is used to remove an existing table along with its structure from the Database.
#TRUNCATE: This is used to remove all rows from the table, but the structure of the table still exists.

In [7]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [8]:
#DML stands for Data Manipulation Language. It is a subset of SQL and is used to manipulate data in a database.
#INSERT: This command is used to insert new rows into a table
#UPDATE: This command is used to update existing data within a table
#DELETE: This command is used to delete rows from a table based on specified conditions

In [9]:
#Q4. What is DQL? Explain SELECT with an example.

In [10]:
#DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying data from a database.
#SELECT is used to retrieve data from one or more tables in a database

In [11]:
#Q5. Explain Primary Key and Foreign Key.

In [12]:
#PRIMARY KEY
#A Primary Key is a unique identifier for a record in a database table. 
#It is used to ensure that data in the specific column is unique and cannot have NULL values. 
#It can be an existing table column or a column that is specifically generated by the database according to a defined sequence

#FOREIGN KEY
#A Foreign Key is a column or group of columns in a relational database table that 
# provides a link between data in two tables. It refers to the primary key of another 
# table and is used to maintain referential integrity between the two tables

In [13]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [16]:
#import mysql.connector

#mydb = mysql.connector.connect(
 #   host="localhost",
 #  user="abc",
  #  password="password"
#)

#print(mydb)
#mycursor = mydb.cursor()

#mycursor.execute("SHOW DATABASES")
#for x in mycursor:
#    print(x)

In [17]:
#The execute() method of the cursor object is used to execute a query on the database.
#The cursor() method is used to create a new cursor object, which allows you to execute queries on the database and retrieve results.

In [18]:
#

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

1. **FROM
2. **JOIN
#3. **ON
#4. **OUTER
#5. **WHERE
#6. **GROUP BY
#7. **HAVING
#8. **SELECT
#9. **DISTINCT
#10. **ORDER BY
#11. TOP